body {
    background-color: rgba(239,227,255,255);
    margin: 0;
    /* margin-bottom: 300px; */
}
a {
    cursor: pointer;
}
a:link,
a:visited {
    text-decoration: none;
    color: white;
}
a:hover,
a:active {
    text-decoration: underline;
}

/* title + search + icon organization */
.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -20px;
    margin-bottom: 0;
}

/* paper articles */
.published > img, p {
    display: block;
    padding: 0;
    text-align: center;
    width: 200px;
    height: auto;
    align-items: center;
    margin-left: 0; 
}
.published > p {
    width: 200px;
}

.published > img {
    width: 150px;
    margin-left: 25px;
}

/* icon pic + description */
ul > a :hover {
    background-color: #A58FE3;
}

.icons {
    margin: 50px;
}

.icons > img, p {
    display: block;
    padding: 0;
    text-align: center;
    width: 100px;
    height: auto;
    align-items: center;
}
.icons > p {
    width: 100px;
}

li {
    margin: 50px;
}

a > li {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
}

/* title */
h1 {

    font-family: 'Merriweather', serif;
    font-size: 50px;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    word-spacing: 1px;
    padding: 1px;;
}
/* Nav Bar Code */
.header{
    background-color:#A58FE3;
    height:55px;
    display:flex;
    justify-content: space-between;
}

.header_button {
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;

}

#home_button {
    margin-left: 10px;
}

.user-input {
    border: 0px;
    width: 500px;
    height: 25px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #7A49A5;
    padding-left: 5px;
    color:white;
}

input::placeholder{
    color:white;
}

#about_button{

    font-family: 'Roboto Condensed', sans-serif;
    height: 30px;
    width: 60px;
    font-size: 18px;
    text-align: center;

    background-color: #7A49A5;
    border-radius: 7px;

    margin-top: 7px;
    margin-right: 10px;
    padding-top: 7px;
}

/* View More Button */
section > button {
    height: 30px;
    width: 105px;
    font-size: 18px;
    text-align: center;

    background-color: #A58FE3;
    border-radius: 7px;

    margin-right: 10px;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}

section > button:hover {
    text-decoration: underline;
}

#showMoreViewed {
    margin-bottom: 10px;
    display: none;
}

#nothing {
    margin-left: 50px;
    display: none;
}

#nothing:before {
    content: "• ";
    color: black;
}