/* Nav Bar Code Start */
.header{
    background-color:#000;
    height:55px;
    display:flex;
    justify-content: space-between;
}
.header_button {
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;

}
#home_button {
    margin-left: 10px;
}
.user-input {
    border: 2px solid white;
    width: 500px;
    height: 25px;
    margin-top: 10px;
    border-radius: 8px;
    padding-left: 5px;
    background: transparent;
    color:white;
    outline: none;
}

input::placeholder{
    color:white;
}

#about_button{
    height: 30px;
    width: 60px;
    font-size: 18px;
    text-align: center;
    border-radius: 7px;

    margin-top: 7px;
    margin-right: 10px;
    padding-top: 7px;
}

#about_button .header_button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/*Nav Bar Code End*/
body{
    margin: 0px;
    background-color: white;
}
h1{
    color: #541f87;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 35px;
    font-weight: 6;
}
h3{
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
}
p{
    font-family: 'DM Sans', sans-serif;
    word-spacing: 1px;
}
#article-container {
    display: flex;
}
#article-button-container {
    padding: 10px;
    flex: 0.15;
}
#search-results-container{
    margin: 0;
    padding: 10px;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.results-div{
    flex: 1;
    height: 325px;
    margin-bottom: 15px;
    overflow: hidden;
}
.image-div{

    width: 225px;
    height: 325px;
    margin-bottom: 15px;
    margin-left: 0px;
}
.article-icons{

    width: 200px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-top: 25px;
    margin-left: 13px;
}