/* Nav Bar Code Start */
.header{
    background-color:#2e2e2e;
    height:55px;
    display:flex;
    justify-content: space-between;
}
.header_button {
    border: none;
    color: #efefef;
    text-decoration: none;
    display: inline-block;

}
#home_button {
    margin-top: 10px;
    margin-left: 12px;
}
.user-input {
    border: 2px solid #efefef;
    width: 500px;
    height: 25px;
    margin-top: 10px;
    border-radius: 8px;
    padding-left: 5px;
    background: transparent;
    color:#efefef;
    outline: none;
}

input::placeholder{
    color:#efefef;
}

#about_button{
    height: 30px;
    width: 60px;
    font-size: 18px;
    text-align: center;
    border-radius: 7px;

    margin-top: 7px;
    margin-right: 10px;
    padding-top: 7px;
}

#about_button .header_button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/*Nav Bar Code End*/

body{
    margin: 0px;
    background-color: #efefef;
    font-family: 'DM Sans', sans-serif;
}
h1{
    color: #000;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 35px;
    font-weight: 6;
    margin-left: 20px;
}

h3{
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
    font-weight: 6;
}

p{
    font-family: 'DM Sans', sans-serif;
    word-spacing: 1px;
    font-weight: 6;
}

#article-container {
    display: flex;
    margin-bottom: 10px;

}

#search-results-container{
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.results-div{
    flex: 1;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    background-color: #fff;
}

/* hyperlink pdf title */
.hyperlink-style {
    color: #A58FE3;
    text-decoration: none;
    cursor: pointer;
}
.hyperlink-style.clicked {
    color: purple; /* or any other color you prefer */
}

.hyperlink-style:hover{
    text-decoration: underline;
}